[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqsdk2 = "==2.2.6"
pyyaml = "*"
pymongo = "*"
mongoengine = "*"
python-dotenv = "*"
pypushdeer = "*"

[dev-packages]
pytest = "*"
xlwings = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
