-i https://pypi.org/simple
certifi==2023.7.22 ; python_version >= '3.6'
charset-normalizer==3.2.0 ; python_full_version >= '3.7.0'
dnspython==2.4.2 ; python_version >= '3.8' and python_version < '4.0'
idna==3.4 ; python_version >= '3.5'
mongoengine==0.27.0
numpy==1.25.2 ; python_version >= '3.9'
pandas==2.0.3 ; python_version >= '3.8'
pymongo==4.5.0
pypushdeer==0.0.3
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.0
pytz==2023.3
pyyaml==6.0.1
requests==2.31.0 ; python_version >= '3.7'
scipy==1.11.2 ; python_version < '3.13' and python_version >= '3.9'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tqsdk2==2.2.6
tzdata==2023.3 ; python_version >= '2'
urllib3==2.0.4 ; python_version >= '3.7'
